<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonyjhuang.cheddar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tonyjhuang.cheddar.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tonyjhuang.cheddar.permission.C2D_MESSAGE" />

    <application
        android:name="com.tonyjhuang.cheddar.CheddarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/PARSE_APPKEY" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/PARSE_CLIKEY" />

        <activity android:name=".AppRouter_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tonyjhuang.cheddar.ui.main.MainActivity_"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tonyjhuang.cheddar.ui.chat.ChatActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- gcm -->
        <receiver android:name=".background.GcmBroadcastReceiver_"
            android:exported="false">
            <intent-filter android:priority="0">
                <action android:name="com.tonyjhuang.cheddar.MESSAGE_EVENT" />
                <action android:name="com.tonyjhuang.cheddar.MESSAGE_NOTIF_DELETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tonyjhuang.cheddar" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tonyjhuang.cheddar.background.CheddarGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>
        <service
            android:name="com.tonyjhuang.cheddar.background.CheddarInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.tonyjhuang.cheddar.background.PushRegistrationIntentService_"
            android:exported="false" />

        <!-- parse -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tonyjhuang.cheddar" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="47a9ef735d967a68bda8754853d46ad093106fb2" />
    </application>

</manifest>
